<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:if="${newEmployee}">
    <br>
    <div th:if="${newEmployee.id}">
        <div th:if="${newEmployee.id} > 0">
            <h3>Deleted Employee</h3>
            <table border="1">
                <tr>
                    <td>ID</td>
                    <td th:text="${newEmployee.id}"/>
                </tr>
                <tr>
                    <td>Name</td>
                    <td th:text="${newEmployee.name}"/>
                </tr>
                <tr>
                    <td>Surname</td>
                    <td th:text="${newEmployee.surname}"/>
                </tr>
                <tr>
                    <td>Department ID</td>
                    <td th:text="${newEmployee.departmentId}"/>
                </tr>
                <tr>
                    <td>Position</td>
                    <td th:text="${newEmployee.position}"/>
                </tr>
                <tr>
                    <td>Salary</td>
                    <td th:text="${newEmployee.salary}"/>
                </tr>
            </table>
        </div>
        <div th:if="${newEmployee.id}==-1">
            <p>Employee not found</p>
        </div>
    </div>
</div>

<br>
<p>Back to <a href="/">home</a></p>


<h2>Updated table employees </h2>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Department ID</th>
        <th>Position</th>
        <th>Salary</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="oneEmployee : ${allEmployees}">
        <td th:text="${oneEmployee.id}"></td>
        <td th:text="${oneEmployee.name}"></td>
        <td th:text="${oneEmployee.surname}"></td>
        <td th:text="${oneEmployee.departmentId}"></td>
        <td th:text="${oneEmployee.position}"></td>
        <td th:text="${oneEmployee.salary}"></td>
    </tr>
    </tbody>
</table>


</body>
</html>

